$font-stack: 'Fira Sans', Roboto;

// 

$black: black;
$white: white;

// $rose-50: #fff1f2; /* RS */
$rose-100: #ffe4e6; /* RS */
$rose-300: #fda4af; /* RS */
// $rose-400: #fb7185; /* RS */
// $rose-500: #f43f5e; /* RS */
$rose-600: #e11d48; /* RS */
$rose-700: #be123c; /* RS */

$gray-100: #f1f5f9; /* BLGR */
$gray-300: #cbd5e1; /* BLGR */
$gray-600: #475569; /* BLGR */
$gray-700: #334155;
$gray-800: #1e293b; /* BLGR */
$gray-900: #0f172a; /* BLGR */

$text-50: #f8fafc; /* BLGR */
$text-100: #f1f5f9; /* BLGR */
$text-300: #cbd5e1; /* BLGR */

$green-100: #d1fae5;
$green-300: #6ee7b7;
$green-600: #059669;
$green-700: #047857;

$blue-100: #dbeafe;
$blue-300: #93c5fd;
$blue-600: #2563eb;
$blue-700: #2563eb;

$amber-100: #fef3c7;
$amber-300: #fcd34d;
$amber-600: #d97706;
$amber-700: #b45309;

$red-100: #fee2e2;
$red-300: #fca5a5;
$red-600: #dc2626;
$red-700: #b91c1c;

/* Thank you tailwindcss */
